encode=json;
context=
{
    uniqueID:"1110",
    name:"GuardElfBRPlugin",
    targetPackage:["com.oplus.battery"],
    version:1,
    pluginClass:["com.oplus.battery.backup.GuardElfBackupPlugin","com.oplus.battery.backup.GuardElfRestorePlugin"],
    useParentClass:true,
    backupFolder:"Battery"
};